* {
    box-sizing: border-box;

}

body {
    background-color: #0095dd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;

}

h1 {
    font-size: 45px;
    color: #fff;
}

canvas {
    background: #f0f0f0;
    display: block;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.touch-right,
.touch-left {
    display: none;
}

.btn {
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 5px;
}

.btn:focus {
    outline: 0;
}

.btn:hover {
    background: #222;
}

.btn:active {
    transform: scale(0.98);
}

.rules-btn {
    position: absolute;
    top: 10px;
    left: 10px;

}

.rules {
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    color: #fff;
    min-height: 100vh;
    width: 400px;
    padding: 20px;

    line-height: 1.5;
    transform: translateX(-700px);
    transition: transform 0.6s ease;
    z-index: 10;
}

.rules.show {
    transform: translateX(0);
}

@media(pointer: coarse) {
    .fa-solid {
        color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        opacity: 0.4;
    }

    small {
        color: rgba(0, 0, 0, 0.5);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 18px;
        opacity: 0.4;
    }

    .touch-left {
        position: absolute;
        border-right: 1px solid #777;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 30%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 10;
        transition: all 0.2s ease;
    }

    .touch-left.animate {
        transform: scale(0.95);
    }

    .touch-right {
        position: absolute;
        border-left: 1px solid #777;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 30%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 10;
        transition: all 0.2s ease;
    }

    .touch-right.animate {
        transform: scale(0.95);
    }
}

@media(max-width: 805px) {
    h1 {
        font-size: 25px;
    }

    .rules {
        width: 90%;
    }


}